@model ShopMyPham.Models.DanhMuc
@{

    ViewBag.Title = "DeleteDanhMucBaiViet";
    Layout = "~/Views/_LayoutTrangAd.cshtml";
}
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="w3-container w3-brown">
        <h2>Xóa Loại Nước Hoa</h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="display:none;"><h3>Tên Danh Mục</h3></td>

                <td><h3>Tên danh mục</h3></td>
                <td><h3>Slug</h3></td>
            </tr>
        </thead>
        <tbody>
            <tr>


                <td>  @Html.DisplayFor(model => model.TenDanhMuc)</td>

                <td>
                    @Html.DisplayFor(model => model.MetaTitle)
                </td>


            </tr>
        </tbody>
    </table>


    <div class="div-btn">
        <a id="button" class="btnxoa" href="/Admin/DanhMucMenu">Quay lại</a>
        <input id="button" class="btnxoa" type="submit" onclick="xoa()" value="Xóa" />
    </div>

}
    




