
.sidebar {
    color: white;
    font-size: 20px;
    width: 18%;
    height: 180%;
    float: left;
    background: #293949;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 100;
}

ul, ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.nano-content li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255,255,255,.05);
    padding: 10px 10px 10px 10px;
}

ul {
    display: block;
}

#leftside-navigation a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

    #leftside-navigation a:hover {
        color: #1abc9c;
    }

#leftside-navigation span {
    display: inline-block;
}

i {
    width: 20px;
}

ul ul {
    display: none;
}

    ul ul li {
        background: #23313f;
        border-bottom: none;
    }

#leftside-navigation a {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #aeb2b7;
}
